---
- name: "Set variables"
  set_fact:
    pdm_branch: "{{ pdm_version }}"
    pdm_prj_version: "{{ pdm_version | replace('.','') }}"
    scan_extra_vars:  "{{ '--extra-vars \"{use_become_system: true}\"' if (use_become_system == true) else '' }}"    

- name: "Include vars of policies_config.yaml into the 'policies_config' variable."
  include_vars:
    file: policies_config.yml
    name: policies_config

- name: "Collect project names"
  set_fact:
    projects_to_create: "{{ projects_to_create|default([]) + [item.project]}}"
  loop: "{{ policies_config.policies }}"
#  when: item.name in pdm_projects
  tags:
    - config

#- debug:
#    var: projects_to_create

- name: "Create PbDevM Project"
  uri: 
    url: "{{ lookup('env','TOWER_HOST') }}/api/v2/projects/"
    method: POST
    user: "{{ lookup('env','TOWER_USERNAME') }}"
    password: "{{ lookup('env','TOWER_PASSWORD') }}"
    body_format: json
    body:
      name: "project_{{item | lower}}_{{pdm_prj_version}}"
      scm_type: "git"
      scm_url: "{{scm_base_url}}"
      organization: 2	#2=mentoring	#"{{blueid_shortcode}}"
      scm-branch: "{{pdm_branch}}"
      scm-credential: "{{scm_creds}}"
    validate_certs: no
    force_basic_auth: true
    status_code: 201, 200
    return_content: true
    headers:
      Content-Type: application/json
  register: job_request
  no_log: true
  loop: "{{ projects_to_create | unique }}"
  ignore_errors: yes
  tags:
    - config


#- name: "Check project status"


- name: "Create PbDevM Scan Job Template"
  uri: 
    url: "{{ lookup('env','TOWER_HOST') }}/api/v2/job_templates/"
    method: POST
    user: "{{ lookup('env','TOWER_USERNAME') }}"
    password: "{{ lookup('env','TOWER_PASSWORD') }}"
    body_format: json
    body:
      name: "template_{{item.name | replace('-','_') | lower}}_{{pdm_prj_version}}"
      job-type: "run"
      project: "project_{{item.project | lower}}_{{pdm_prj_version}}"
      playbook: "HelloWorld.yml"
      inventory: "{{blueid_shortcode}}"
      allow-simultaneous: "true"
      verbosity: 1
    validate_certs: no
    force_basic_auth: true
    status_code: 201, 200
    return_content: true
    headers:
      Content-Type: application/json
  register: job_request
#  no_log: true
  loop: "{{ policies_config.policies }}"
#  when: item.name in pdm_projects
  tags:
    - config

